/* TEXT COLORS*/

.text-primary{
  color:#f2e13f;
}

.text-secondary{
  color: #41980A;
}


/*button*/
.btn{
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #333;
  background-color: #f2e13f;
  border:2px solid #fff;
  border-radius: 5px;

  box-shadow: inset 0 0 0 0 #fff;
  -webkit-transition: ease-out 0.6s;
  -moz-transition: ease-out 0.6s;
  transition: ease-out 0.6s;
}

.btn:hover{

  box-shadow: inset 800px 0 0 0 #fff;

}



.btn-primary,
.bg-primary{
  color: #fff;
  background-color: #f2e13f;
}

.btn-secondary,
.bg-secondary{
  color: #fff;
  background-color: #41980A;
}

.bg-dark{
  color: #fff;
  background-color: #333;
}

.bg-light{
  color: #333;
  background-color: #faee7a;
}


.new{
  background: #fff;
  border: 3px solid #fff;
  transition: all 0.2s ease-in-out;
}

.new:hover{
    background: #fff;
    color:#41980A ;
  border: 3px solid #fff;
  box-shadow: 2px 2px 13px rgba(0,0,0,.5);
  opacity: 1;
             }
/* FLEX ITEMS */
.flex-items{
  display:flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.flex-items > div{
  padding: 20px;
}



/* FLEX COLUMNS */
 .flex-columns.flex-reverse .row{
 flex-direction: row-reverse;
 }

.flex-columns .row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

   .flex-columns .column {
  display:flex;
  flex-direction:column;
  flex-basis: 100%;
  flex: 1;

}


.flex-columns .column .column-1,
.flex-columns .column .column-2{
  height:100%;
}

.flex-columns img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.flex-columns .column-2 {
display:flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
padding: 30px;

}

.flex-columns h2{
font-size: 40px;
font-weight: 100;
}

.flex-columns h4{
  margin-bottom: 10px;
}

.flex-columns p {
  margin-bottom: 20px 0;
}




/* section header */

.section-header{
  padding:30px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
}

.section-header h2{
  font-size: 40px;
  margin:20px 0;
}

.section-padding{
  padding: 20px 20px 40px;
}


/* FLEX GRID */

.flex-grid .row{
  display:flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width:25%;
  padding: 0 4px;
}

.flex-grid .column img{

height:50%;}